In [26]:
import pandas as pd

Make Dataframe from Testing Data

In [27]:
df = pd.read_csv('Childcare_Data_CA_2023.csv')
df

,01/16/2024 Download Date\nChild Care Center Lead\nSampling Results,County,City,Name,LabNumber,Id,SampleSiteId,RegOffice,XMOD,Result,SampleDate,AnalysisDate,LoadDate,UnitofMeasure
0,NaN,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,1551,10200050,A,2,<,1.0,1/18/23,1/28/23,2/10/23,UG/L
1,NaN,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,1551,10200050,B,2,<,1.0,1/18/23,1/28/23,2/10/23,UG/L
2,NaN,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,1551,10200050,C,2,,2.0,1/18/23,1/28/23,2/10/23,UG/L
3,NaN,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,1551,10200050,D,2,,2.2,1/18/23,1/28/23,2/10/23,UG/L
4,NaN,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,1551,10200050,E,2,<,1.0,1/18/23,1/28/23,2/10/23,UG/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57541,NaN,YUBA,MARYSVILLE,CONQUERORS CHRISTIAN PRESCHOOL,1338,585408193,A,13,,1.2,6/14/23,6/20/23,7/5/23,UG/L
57542,NaN,YUBA,MARYSVILLE,CONQUERORS CHRISTIAN PRESCHOOL,1338,585408193,A30,13,<,1.0,6/14/23,6/20/23,7/5/23,UG/L
57543,NaN,YUBA,MARYSVILLE,CONQUERORS CHRISTIAN PRESCHOOL,1338,585408193,B,13,<,1.0,6/14/23,6/20/23,7/5/23,UG/L
57544,NaN,YUBA,OLIVEHURST,E CENTER HS PGMS - OLIVEHURST,1233,585408315,A,13,<,1.0,4/8/23,4/13/23,11/8/23,UG/L
57545,NaN,YUBA,OLIVEHURST,E CENTER HS PGMS - OLIVEHURST,1233,585408315,A30,13,<,1.0,4/8/23,4/13/23,11/8/23,UG/L

Remove unnecessary columns

In [28]:
df.drop(columns=['01/16/2024 Download Date\nChild Care Center Lead\nSampling Results','LabNumber','XMOD','RegOffice'])

,County,City,Name,Id,SampleSiteId,Result,SampleDate,AnalysisDate,LoadDate,UnitofMeasure
0,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,10200050,A,1.0,1/18/23,1/28/23,2/10/23,UG/L
1,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,10200050,B,1.0,1/18/23,1/28/23,2/10/23,UG/L
2,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,10200050,C,2.0,1/18/23,1/28/23,2/10/23,UG/L
3,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,10200050,D,2.2,1/18/23,1/28/23,2/10/23,UG/L
4,ALAMEDA,BERKELEY,BERKELEY MONTESSORI SCHOOL,10200050,E,1.0,1/18/23,1/28/23,2/10/23,UG/L
...,...,...,...,...,...,...,...,...,...,...
57541,YUBA,MARYSVILLE,CONQUERORS CHRISTIAN PRESCHOOL,585408193,A,1.2,6/14/23,6/20/23,7/5/23,UG/L
57542,YUBA,MARYSVILLE,CONQUERORS CHRISTIAN PRESCHOOL,585408193,A30,1.0,6/14/23,6/20/23,7/5/23,UG/L
57543,YUBA,MARYSVILLE,CONQUERORS CHRISTIAN PRESCHOOL,585408193,B,1.0,6/14/23,6/20/23,7/5/23,UG/L
57544,YUBA,OLIVEHURST,E CENTER HS PGMS - OLIVEHURST,585408315,A,1.0,4/8/23,4/13/23,11/8/23,UG/L
57545,YUBA,OLIVEHURST,E CENTER HS PGMS - OLIVEHURST,585408315,A30,1.0,4/8/23,4/13/23,11/8/23,UG/L

Merge Testing Data and Registered Facility Data

In [29]:
id = pd.read_csv('dss_cleaned.csv')
id.drop(columns=['Column'], inplace=True)
id.rename(columns={'Facility Number':'Id'}, inplace=True)

In [30]:
merged_childcare = df.merge(id, on="Id", how="outer")
merged_childcare.drop(columns=['County', 'City', 'Name'], inplace=True)
merged_childcare

,01/16/2024 Download Date\nChild Care Center Lead\nSampling Results,LabNumber,Id,SampleSiteId,RegOffice,XMOD,Result,SampleDate,AnalysisDate,LoadDate,...,Citation Numbers,POC Dates,All Visit Dates,Inspection Visit Dates,Inspect TypeA,Inspect TypeB,Other Visit Dates,Other TypeA,Other TypeB,"Complaint Info- Date, #Sub Aleg, # Inc Aleg, # Uns Aleg, # TypeA, # TypeB ..."
0,NaN,NaN,10200027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"101174(d), 1597.16(a)(1), 101226(e)(2), 101229...","05/16/2019, 07/07/2023, 07/07/2023, 07/07/2023...","06/28/2023, 05/13/2022, 06/23/2021, 05/02/2019","06/28/2023, 05/13/2022, 06/23/2021, 05/02/2019",0.0,1.0,NaN,0.0,5.0,No Complaints
1,NaN,1551.0,10200050,A,2.0,<,1.0,1/18/23,1/28/23,2/10/23,...,NaN,NaN,2022-12-07 00:00:00,2022-12-07 00:00:00,0.0,0.0,NaN,0.0,0.0,No Complaints
2,NaN,1551.0,10200050,B,2.0,<,1.0,1/18/23,1/28/23,2/10/23,...,NaN,NaN,2022-12-07 00:00:00,2022-12-07 00:00:00,0.0,0.0,NaN,0.0,0.0,No Complaints
3,NaN,1551.0,10200050,C,2.0,,2.0,1/18/23,1/28/23,2/10/23,...,NaN,NaN,2022-12-07 00:00:00,2022-12-07 00:00:00,0.0,0.0,NaN,0.0,0.0,No Complaints
4,NaN,1551.0,10200050,D,2.0,,2.2,1/18/23,1/28/23,2/10/23,...,NaN,NaN,2022-12-07 00:00:00,2022-12-07 00:00:00,0.0,0.0,NaN,0.0,0.0,No Complaints
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65430,NaN,1338.0,585408193,A,13.0,,1.2,6/14/23,6/20/23,7/5/23,...,NaN,NaN,2023-05-16 00:00:00,NaN,0.0,0.0,2023-05-16 00:00:00,0.0,0.0,No Complaints
65431,NaN,1338.0,585408193,A30,13.0,<,1.0,6/14/23,6/20/23,7/5/23,...,NaN,NaN,2023-05-16 00:00:00,NaN,0.0,0.0,2023-05-16 00:00:00,0.0,0.0,No Complaints
65432,NaN,1338.0,585408193,B,13.0,<,1.0,6/14/23,6/20/23,7/5/23,...,NaN,NaN,2023-05-16 00:00:00,NaN,0.0,0.0,2023-05-16 00:00:00,0.0,0.0,No Complaints
65433,NaN,1233.0,585408315,A,13.0,<,1.0,4/8/23,4/13/23,11/8/23,...,NaN,NaN,2023-07-31 00:00:00,NaN,0.0,0.0,2023-07-31 00:00:00,0.0,0.0,No Complaints
65434,NaN,1233.0,585408315,A30,13.0,<,1.0,4/8/23,4/13/23,11/8/23,...,NaN,NaN,2023-07-31 00:00:00,NaN,0.0,0.0,2023-07-31 00:00:00,0.0,0.0,No Complaints

Groupby to interrogate data

In [32]:
# Number of tests in each city.

city_tests = merged_childcare.groupby(['Facility City'])['Result'].count().reset_index()
total_tests = city_tests['Result']

#  Median test result

median = merged_childcare.groupby(['Facility City'])['Result'].median().round(5).reset_index()
median_result = median['Result']

# Total number of facilities per city.

total_facilities = merged_childcare.groupby(['Facility City'])['Id'].nunique().reset_index(name='total_facilities')

# Total number of facilities with a test.

tested_facilities = merged_childcare[merged_childcare.Result.notnull()].groupby('Facility City')['Id'].nunique().reset_index(name='tested_facilities')

# Number of tests in each city over 5ppb and 15ppb

df_o5 = merged_childcare.groupby('Facility City')['Result'].apply(lambda x: (x>=5).sum()).reset_index(name='count')
df_o15 = merged_childcare.groupby('Facility City')['Result'].apply(lambda x: (x>=15).sum()).reset_index(name='count')

tests_5 = df_o5['count']
tests_15 = df_o15['count']

Restructured table with key data

In [ ]:
final = total_facilities.merge(tested_facilities, on='Facility City', how='outer', )
final['tested_facilities'].fillna(0, inplace=True)
final['tested_facilities'] = final['tested_facilities'].astype(int)
final['total_tests'] = total_tests
final['median_result'] = median_result
final['tests_5'] = tests_5
final['tests_15'] = tests_15
final

/var/folders/4x/mt_gk4s12td7s4zxfn0ksqsh0000gn/T/ipykernel_73835/523885351.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final['tested_facilities'].fillna(0, inplace=True)

,Facility City,total_facilities,tested_facilities,total_tests,median_result,tests_5,tests_15
0,ACTON,2,0,0,NaN,0,0
1,ADELANTO,3,1,2,1.0,0,0
2,AGOURA HILLS,18,6,58,1.0,4,3
3,ALAMEDA,60,23,117,1.0,17,3
4,ALAMO,9,7,44,1.0,4,3
...,...,...,...,...,...,...,...
861,YOUNTVILLE,1,0,0,NaN,0,0
862,YREKA,12,7,48,1.0,2,0
863,YUBA CITY,40,27,125,1.0,5,2
864,YUCAIPA,12,7,28,1.0,2,0
865,YUCCA VALLEY,7,1,4,1.0,0,0